# Ambiente virtual
.venv/
venv/
env/

# Banco de dados SQLite local
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# IDE
.idea/

# Sistema
.DS_Store
Thumbs.db
